.input-icon {
    position: absolute;
    left: 8px;
    top: 7px;
    font-size: 20px;
    color: rgba(147, 147, 147, .7);
}

.custom-input {
    padding: 5px 10px 5px 36px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="time"] {
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
}